.container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-shadow: #e0e0e0 1px 1px 0;
    color: #616161;
}


h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
}